// Сброс дефолтных стилей
@import "reset.scss";

// Подключение шрифтов
@import "fonts.scss";

// Подключение модулей со стилями
@import "header.scss";

body {
	font-family: Raleway;
	color: rgba(33, 78, 65, 1);
	font-weight: 700;
	line-height: 20px;

	width: 100%;
	height: 100%;

	.wrapper {
		max-width: 1200px;
		margin: 0 auto;

		display: flex;
		flex-direction: column;
	}
}

// .icon {
// 	display: block;
// 	fill: red;

// 	:hover {
// 		fill: green;
// 	}
// }
