// Сброс дефолтных стилей
@import "reset.scss";

// Подключение шрифтов
@import "fonts.scss";

body {
	font-family: Raleway;

	width: 100%;
	height: 100%;

	.wrapper {
		max-width: 1440px;
		margin: 0 auto;

		display: flex;
		flex-direction: column;
	}
}

.icon {
	display: block;
	fill: red;

	:hover {
		fill: green;
	}
}
